@charset "utf-8";

.wrapper{
  background: yellow;
  height: 200px;
  border: 10px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.box1, .box2, .box3, .box4{
  width: 200px;
  height: 100px;
}

.box1{
  background: rgba(255,0,0,.5);
  order: 1;
}
.box2{
  background: rgba(0,255,0,.5);
  align-self: center;
}
.box3{
  background: rgba(0,0,255,.5);
  align-self: flex-end;
}
.box4{
  background: rgba(255,0,255,.5);
  order: -1;
}